@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --brand-black: #020617;
    --brand-white: #ffffff;
    --brand-white-80: rgba(255, 255, 255, 0.8);
  }


.label-text {
    position: relative;
    top: 100px; /* Start position (bottom) */
    transition: top 0.5s ease;
}

.hover-overlay:hover .label-text {
    top: 0; /* End position (top) */
}


.input-designed-1{
    @apply

    px-1 py-2
    border-[0.15rem] border-[var(--brand-black)]

    font-custom_1 font-semibold
}

.button-1 {
    @apply

    bg-[var(--brand-black)]
    border-[0.15rem] border-[var(--brand-black)]
    rounded-none 
    font-custom_1 text-[var(--brand-white)]  
    uppercase tracking-widest
    py-2 px-10 

    hover:bg-[var(--brand-white)] hover:text-[var(--brand-black)] hover:border-[var(--brand-black)]
}

.button-2 {
    @apply

    bg-[var(--brand-white)]
    border-[var(--brand-black)] border-[0.15rem]
    rounded-none 
    font-custom_1 text-[var(--brand-black)]  
    uppercase tracking-normal font-bold
    py-2 px-10 

    hover:bg-[var(--brand-black)] hover:text-[var(--brand-white)]
}

.-button-2 {
    @apply

    border-[var(--brand-white)] border-[0.15rem]
    rounded-none 
    font-custom_1 text-[var(--brand-white)]
    uppercase tracking-normal font-bold
    py-2 px-10 
}

.hero-image {
    background-image: url('../src/assets/unlicensed/barber-salon-white-1-unlicensed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(0%) brightness(50%) contrast(100%)
}

.belt-image {
    background-image: url('../src/assets/unlicensed/barber-tools-1-unlicensed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    filter: saturate(0%) brightness(50%) contrast(100%) blur(0.10rem);
}