@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --brand-black: #020617;
    --brand-black-25: rgba(2, 6, 23,0.25);
    --brand-black-50: rgba(2, 6, 23,0.50);
    --brand-black-75: rgba(2, 6, 23,0.75);
    --brand-white: #ffffff;
    --brand-white-80: rgba(255, 255, 255, 0.8);
  }


.label-text {
    position: relative;
    top: 100px; /* Start position (bottom) */
    transition: top 0.5s ease;
}

.hover-overlay:hover .label-text {
    top: 0; /* End position (top) */
}


.input-designed-1{
    @apply

    px-1 py-2
    border-[0.15rem] border-[var(--brand-black)]

    font-custom_1 font-semibold
}

.button-sizer {
    @apply

    2xl:text-xl
}

.button-1 {
    @apply

    button-sizer
    bg-[var(--brand-black)]
    border-[0.15rem] border-[var(--brand-black)]
    rounded-none 
    font-custom_1 text-[var(--brand-white)]  
    uppercase tracking-widest
    py-2 px-10 

    hover:bg-[var(--brand-white)] hover:text-[var(--brand-black)] hover:border-[var(--brand-black)]
}

.button-2 {
    @apply

    button-sizer
    bg-[var(--brand-white)]
    border-[var(--brand-black)] border-[0.15rem]
    rounded-none 
    font-custom_1 text-[var(--brand-black)]

    uppercase tracking-normal font-bold
    py-2 px-10 

    hover:bg-[var(--brand-black)] hover:text-[var(--brand-white)]
}

.-button-2 {
    @apply

    button-sizer
    border-[var(--brand-white)] border-[0.15rem]
    rounded-none 
    font-custom_1 text-[var(--brand-white)]
    uppercase tracking-normal font-bold
    py-2 px-10 
}

.hero-image {
    background-image: url('../src/assets/unlicensed/barber-salon-white-1-unlicensed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: saturate(0%) brightness(50%) contrast(100%) */
}

.belt-image {
    background-image: url('../src/assets/unlicensed/barber-tools-1-unlicensed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}


.section-title {
    @apply

    font-custom_1
    tracking-widest
    text-4xl 
    lg:text-5xl
}



/* Classes test pour Calvin */

.background-about {
    background-image: url('./assets/unlicensed/barber-salon-white-1-unlicensed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: saturate(0%) brightness(50%) contrast(100%); */

    width: 100vw;
    height: 100vh;

    display: grid;
}

.filtre {
    background-color: rgba(0, 0, 0, 0.45);
}

.text-grand {
    font-size: 50px;
}

.text-moyen {
    font-size: 25px;
}

.text-moyen-2 {
    font-size: 18px;
}

.text-petit {
    font-size: 15px;
}

.mes-titres {
    color: #ffffff;
    font-weight: bold;
}

.mes-sous-titres {
    color: #f5af6f;
    /* font-size: 18px; */
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.mon-paragraph {
    color: #ffffff;
    text-align: left;
}

.mon-button {
    color: #ffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;

    border-color: #ffff;
    border-width: 0.15rem;

    padding: 5px;

}

.mon-button:hover{
    color: #000000;
    background-color: #ffff;

    transition-property: all;
    transition-duration: 500ms;
}

.mon-button-2 {
    background-color: #ffff;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;

    border-color: #ffff;
    border-width: 0.15rem;

    padding: 5px;
}

.mon-button-2:hover{
    color: #ffff;
    background-color: transparent;

    transition-property: all;
    transition-duration: 500ms;
}

.button-holder {
    display: flex;
    gap: 15px;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.box-parent {
    display: grid;
    justify-content: left;
    justify-items: left;

    padding: 0.75rem;
    padding-right: 0.75rem;

}

.m-y-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.m-y-auto{
    margin-top: auto;
    margin-bottom: auto;
}

